* {margin: 0; padding: 0; outline: none;}

body {
	background: #161616;
	font: 12px normal Verdana, Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

a { 
	text-decoration:none; 
	color:#00c6ff;
}

h1 {
	font: 4em normal Arial, Helvetica, sans-serif;
	padding: 20px;	margin: 0;
	text-align:center;
	color:#bbb;
}

h1 small{
	font: 0.2em normal  Arial, Helvetica, sans-serif;
	text-transform:uppercase; letter-spacing: 0.2em; line-height: 5em;
	display: block;
}

span{ 
	position:absolute; 
	text-indent:-9999px; 
}

.container {
	width: 960px;
	margin: 0 auto; 
	overflow: hidden;
}

.content {
	width:960px;
	min-height:500px;
	margin:0 30px;
	position:relative;
}

#trigger {
	background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: lowercase;
	text-align: center;
	color: #fff;
	padding: 10px;
	border-radius: 3px;
	display: block;
	margin: 0 auto;
	width: 140px;
}
		
#trigger:hover {
	background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
}

.logo {
	width:300px;
	height:300px;
	background: url("BatonLogo.jpg") center;
	background-size: 300px 300px;
    background-repeat: no-repeat;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	margin:150px auto 0;
	border:4px solid #ddddde;
}

#detail { 
	list-style:none; 
	position:relative;
	top:140px;
	left:140px;
	z-index:-1;
}

#social .fanpage {top:-150px; left:406px; }
#social .website  {top:-83px; left:28px; }
#social .aboutryan   {top:178px; left:432px; }
#social .fbgroup   {top:297px; left:-130px; }

.ball   { left:295px; top:-3px; }
.ball1  { left:355px; top:-3px; }
.ball2  { left:200px; top:-3px; }
.ball3  { left:365px; top:-3px; }

.pulse   { left:293px; top:-5px; }
.pulse1  { left:354px; top:-5px; }
.pulse2  { left:198px; top:-5px; }
.pulse3  { left:363px; top:-5px; }

#layerBall, #layerPulse     { -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
#layerBall1, #layerPulse1   { -moz-animation-delay:0.7s; -webkit-animation-delay:0.7s; }
#layerBall2, #layerPulse2   { -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
#layerBall3, #layerPulse3   { -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }

ul#social { list-style:none; }
ul#social li { position:relative; background: #000000;
	background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
	background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
	border-left:1px solid #111; border-top:1px solid #111; border-right:1px solid #333; border-bottom:1px solid #333; 
	width:70px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.8em;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
	width: 70px;
	opacity:0; 
}

ul#social li:hover {
	background: -moz-linear-gradient(top, #202020 0%, #161616 100%);
	background: -webkit-linear-gradient(top, #202020 0%, #161616 100%);
	cursor:pointer;
}

ul#social a:hover {
	color:#fff;
}